<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ACROBATUM
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:if="${userRole == 'ROLE_USER'}">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN'}">
                <a class="nav-link" href="/backup">Управление базой</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_HR'}">
                <a class="nav-link" href="/employee">Сотрудники</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_CASHIER'}">
                <a class="nav-link" href="/client">Клиенты</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_STOREKEEPER'}">
                <a class="nav-link" href="/provider">Поставщики</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_STOREKEEPER'}">
                <a class="nav-link" href="/product">Товар</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_USER' || userRole == 'ROLE_CASHIER'}">
                <a class="nav-link" href="/basket">Заказы</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_USER'}">
                <a class="nav-link" href="/cart">Корзина</a>
            </li>
        </ul>
    </div>
</nav>
<body>

<content class="container d-flex flex-column align-items-right mt-4">
    <form th:object="${basket}" method="post" th:action="@{/basket/add}">
        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="dateOfPurchase">Дата заказа:</label>
            <input type="date" th:field="*{dateOfPurchase}" th:value="${dateNow}" class="form-control"
                   id="dateOfPurchase"
                   placeholder="Дата заказа"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('dateOfPurchase')}"
                  th:errors="*{dateOfPurchase}"></span>
        </div>

        <div th:object="${position}">
            <div class="d-flex flex-row">
                <label class="mt-4 font-weight-bold col-sm-6" for="product">Товар:</label>
                <label class="mt-4 font-weight-bold col-sm-6" for="quantity">Количество:</label>
            </div>
            <div class="d-flex flex-row">
                <select name="product_id" class="form-control mb-2 mr-3" id="product" th:field="*{product}">
                    <option th:each="product : ${products}" th:value="${product.id}"
                            th:text="${product.name}"></option>
                </select>
                <input type="number" min="1" th:field="*{quantity}" th:value="1" class="form-control mb-2" id="quantity"
                       placeholder="Количество"/>
            </div>

            <div class="lead fs-7 d-inline" th:each="position : ${positions}">
                <p class="lead fs-7 d-inline p-2" th:text="${position.product.name}"></p>
                <p class="lead fs-7 d-inline p-2" th:text="' x' + ${position.quantity}"></p>
                <br>
            </div>
            <div class="form-control btn-group mb-4">
                <button formaction="/basket/addProduct" formmethod="get" class="form-control btn btn-outline-success">
                    Добавить товар
                </button>
                <button formaction="/basket/removeProduct" formmethod="get" class="form-control btn btn-outline-danger">
                    Удалить товар
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="client">Покупатель:</label>
            <select name="client_id" class="form-control mb-2" id="client" th:field="*{client}">
                <option th:each="client : ${clients}" th:value="${client.id}"
                        th:text="${client.surname} + ' ' + ${#strings.substring(client.name, 0, 1)} + '. ' + ${#strings.substring(client.patronymic, 0, 1)} + '. '"></option>
            </select>
            <span class="error text-danger" th:if="${#fields.hasErrors('client')}" th:errors="*{client}"></span>
        </div>
        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="employee">Кассир:</label>
            <select name="employee_id" class="form-control mb-2" id="employee" th:field="*{employee}">
                <option th:each="employee : ${employees}" th:value="${employee.id}"
                        th:selected="${employee.id == empId}"
                        th:text="${employee.surname} + ' ' + ${#strings.substring(employee.name, 0, 1)} + '. ' + ${#strings.substring(employee.patronymic, 0, 1)} + '. '"></option>
            </select>
            <span class="error text-danger" th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}"></span>
        </div>

        <input type="hidden" th:field="*{id}" value="${basket.id}"/>
        <p><input class="btn btn-primary" type="submit" value="Создать заказ"></p>
    </form>
</content>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>