<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ACROBATUM
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_HR'}">
                <a class="nav-link" href="/employee">Сотрудники</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_CASHIER'}">
                <a class="nav-link" href="/client">Клиенты </a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_STOREKEEPER'}">
                <a class="nav-link" href="/provider">Поставщики</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_STOREKEEPER'}">
                <a class="nav-link" href="/product">Товар</a>
            </li>
            <li class="nav-item active" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_USER' || userRole == 'ROLE_CASHIER'}">
                <a class="nav-link" href="/basket">Заказы <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти" class="btn btn-primary">
        </form>
    </div>
</nav>
<body>

<search class="container d-flex flex-column align-items-center mt-3">
    <p><h4 class="display-8 p-3">Заказы</h4></p>
    <form method="get" th:action="@{/basket}"
          class="form-horizontal form-group d-flex flex-row align-items-center justify-content-center col-sm-6">
        <input type="date" placeholder="Дата заказа" class="form-control search mr-3" name="sDate">
        <input value="Поиск" type="submit" class="btn btn-info">
    </form>
    <form method="get" th:action="@{/basket/add}"
          class="form-group">
        <input type="submit" value="Добавить заказ" class="btn btn-success">
    </form>
</search>

<div class="d-flex flex-column align-items-center justify-content-center mt-3">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" class="text-center">Дата заказа</th>
                <th scope="col" class="text-center">ФИО клиента</th>
                <th scope="col" class="text-center">ФИО кассира</th>
                <th scope="col" class="text-center">Товары</th>
                <th scope="col" class="text-center" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_CASHIER'}">Действия</th>
            </tr>
            </thead>
            <tr th:each="basket : ${baskets}">
                <form>
                    <td scope="col" class="text-center"><span class="lead fs-7 d-inline"
                                                              th:text="${basket.dateOfPurchase}"></span></td>
                    <td scope="col" class="text-center"><span class="lead fs-7 d-inline"
                                                              th:text="${basket.client.surname} + ' ' + ${#strings.substring(basket.client.name, 0, 1)} + '. ' + ${#strings.substring(basket.client.patronymic, 0, 1)} + '. '"></span></td>
                    <td scope="col" class="text-center"><span class="lead fs-7 d-inline"
                                                              th:text="${basket.employee.surname} + ' ' + ${#strings.substring(basket.employee.name, 0, 1)} + '. ' + ${#strings.substring(basket.employee.patronymic, 0, 1)} + '. '"></span></td>
                    <td scope="col" class="text-center">
                        <label class="lead fs-7" th:each="position : ${positions}">
                            <span class="lead fs-7 d-inline p-2" th:if="${position.cheque.id == basket.id}" th:text="${position.product.name} + ' x' + ${position.quantity}"></span>
                            <span class="lead fs-7 d-inline" th:if="${position.cheque.id == basket.id}">|</span>
                        </label>
                    </td>
                    <td scope="col" class="text-center" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_CASHIER'}">
                        <input type="submit" value="Редактировать"
                               th:formaction="@{/basket/edit}" formmethod="get"
                               class="btn btn-outline-warning mr-2">
                        <input type="submit" value="Удалить" class="btn btn-outline-danger"
                               th:formaction="@{/basket/delete}" formmethod="post">
                    </td>
                    <input type="hidden" name="basket_id" th:value="${basket.id}">
                </form>
            </tr>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>