<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ACROBATUM
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:if="${userRole == 'ROLE_USER'}">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN'}">
                <a class="nav-link" href="/backup">Управление базой</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_HR'}">
                <a class="nav-link" href="/employee">Сотрудники</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_CASHIER'}">
                <a class="nav-link" href="/client">Клиенты</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_STOREKEEPER'}">
                <a class="nav-link" href="/provider">Поставщики</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_STOREKEEPER'}">
                <a class="nav-link" href="/product">Товар</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN' || userRole == 'ROLE_USER' || userRole == 'ROLE_CASHIER'}">
                <a class="nav-link" href="/basket">Заказы</a>
            </li>
            <li class="nav-item" th:if="${userRole == 'ROLE_USER'}">
                <a class="nav-link" href="/cart">Корзина</a>
            </li>
        </ul>
    </div>
</nav>
<body>

<content class="container d-flex flex-column align-items-right mt-4">
    <form th:object="${client}" method="post" th:action="@{/client/edit}">
        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="login">Логин:</label>
            <input type="text" th:field="*{login}" th:value="${client.login}" class="form-control" id="login"
                   placeholder="Логин"/>
            <span class="error text-danger" th:if="${message != null}" th:text="${message}"></span>
            <span class="error text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
        </div>
        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="password">Пароль:</label>
            <input type="password" th:field="*{password}" th:value="${client.password}" class="form-control" id="password"
                   placeholder="Пароль"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="surname">Фамилия:</label>
            <input type="text" th:field="*{surname}" th:value="${client.surname}" class="form-control" id="surname"
                   placeholder="Фамилия"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
        </div>
        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="name">Имя:</label>
            <input type="text" th:field="*{name}" th:value="${client.name}" class="form-control" id="name"
                   placeholder="Имя"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="patronymic">Отчество:</label>
            <input type="text" th:field="*{patronymic}" th:value="${client.patronymic}" class="form-control" id="patronymic"
                   placeholder="Отчество"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></span>
        </div>
        <div class="custom-control custom-checkbox mr-sm-2 ml-2 mt-3 mb-3">
            <input type="checkbox" name="hasContacts" class="custom-control-input" id="hasContacts"
                   th:checked="${client.contacts != null}">
            <label class="custom-control-label" for="hasContacts">Добавить контактные данные</label>
        </div>

        <div name="contactsForm" th:object="${contacts}">
            <div class="form-group">
                <label class="mt-3 font-weight-bold" for="phoneNumber">Номер телефона:</label>
                <input type="text" th:field="*{phoneNumber}" id="phoneNumber" class="form-control" placeholder="Телефон"
                       th:value="${contacts.phoneNumber}"/>
                <span class="error text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
            <div class="form-group">
                <label class="mt-3 font-weight-bold" for="email">Email:</label>
                <input type="email" th:field="*{email}" id="email" class="form-control" placeholder="Email"
                       th:value="${contacts.email}"/>
                <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="form-group">
                <label class="mt-3 font-weight-bold" for="address">Адрес:</label>
                <input type="text" th:field="*{address}" id="address" class="form-control" placeholder="Адрес"
                       th:value="${contacts.address}"/>
                <span class="error text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
            </div>
        </div>
        <input type="hidden" th:field="*{id}" th:value="${client.id}">
        <p><input class="btn btn-primary" type="submit" value="Сохранить"></p>
    </form>
</content>

<script>
    var checkbox = document.querySelector("input[name=hasContacts]");
    var div = document.querySelector("div[name=contactsForm]");
    if(checkbox.checked){
        div.style.display = "block";
    } else{
        div.style.display = "none";

    }
    checkbox.addEventListener('change', function () {
        if (this.checked) {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>