<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<content class="container d-flex flex-column align-items-right mt-4 col-4">

    <p><h4 class="display-8 p-2 text-center">Авторизация</h4></p>

    <form th:action="@{/logIn}" method="post">
        <div th:if="${param.error}" class="lead text-danger">
            Неверное имя пользователя или пароль.
        </div>
        <div th:if="${param.logout}" class="lead text-primary">
            Вы вышли из системы.
        </div>
        <label class="mt-4 font-weight-bold" for="username">Имя пользователя:</label>
        <input type="text" name="username" class="form-control" id="username"
               placeholder="Имя пользователя"/>
        <label class="mt-4 font-weight-bold" for="password">Пароль:</label>
        <input type="password" name="password" class="form-control" id="password"
               placeholder="Пароль"/>
        <p><input class="btn btn-primary mt-3" type="submit"
                  value="Войти"></p>
        <a class="btn btn-primary mt-3" href="/registration">Регистрация нового пользователя</a>
    </form>
</content>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>